<div class="mt-4"></div>
    <a href="/home/home-details/{{waterMeter.homeId}}" class="btn btn-primary">Quay lại</a>
    <h3 class="mt-3">Thông tin đồng hồ</h3>
<div class="mt-4"></div>
<table class="table mt-4 ms-4">
    <tbody>
        <tr>
            <th class="col-md-2" scope="row">ID</th>
            <td class="col-md-6">{{waterMeter._id}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">ID căn hộ</th>
            <td class="col-md-6">{{waterMeter.homeId}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Mã đồng hồ</th>
            <td class="col-md-6">{{waterMeter.code}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Ngày lắp đặt</th>
            <td class="col-md-6">{{waterMeter.dateInstallation}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Mã QR</th>
            <td class="col-md-6">
                <img src="{{waterMeter.qr}}" alt="QR Code">
            </td>
        </tr>
    </tbody>
</table>