<div class="mt-4">
    <a href="/statistic/consumption" class="btn btn-primary">Quay lại</a>
    <h3 class="mt-3">Chỉ số các tháng của đồng hồ</h3>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Chủ căn hộ</th>
            <th scope="col">SĐT</th>
            <th scope="col">Toà nhà</th>
            <th scope="col">Số nhà</th>
            <th scope="col">Địa chỉ</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{homeInfo.username}}</td>
            <td>{{homeInfo.userPhone}}</td>
            <td>{{homeInfo.building}}</td>
            <td>{{homeInfo.code}}</td>
            <td>{{homeInfo.address}}</td>
        </tr>
    </tbody>
</table>

<a href="/statistic/{{homeInfo.waterMeterId}}/add" class="mt-4 btn btn-success">Thêm bản ghi chỉ số đồng hồ</a>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Chỉ số</th>
            <th scope="col">Ngày ghi nhận</th>
            <th scope="col">Người ghi nhận</th>
            <th scope="col">SĐT người ghi</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {{#each statistic}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.value}}</td>
            <td>{{this.date}}</td>
            <td>{{this.recorderName}}</td>
            <td>{{this.recorderPhone}}</td>
            <td><img class="w-25 h-25" src="{{this.image}}" alt="Ảnh"></td>
            <td>
                <a href="/statistic/{{this._id}}/edit" class="ms-1 btn btn-warning">Sửa</a>
                <a class="ms-1 btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                    data-bs-target="#delete-record-modal">Xoá</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="5" class="text-center">
                Hệ thống chưa có số liệu
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Confirm delete record --}}
<div id="delete-record-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá bản ghi chỉ số đồng hồ này?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ xoá dữ liệu bản ghi chỉ số đồng hồ. Bạn chắc chắn muốn xoá?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-record" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-record-form" method="POST"></form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var deleteRecordModal = document.getElementById('delete-record-modal');
    deleteRecordModal.addEventListener('show.bs.modal', (event) => {
        var button = event.relatedTarget
        var recordId = button.getAttribute('data-id')
        var deleteForm = document.forms['delete-record-form']
        var btnDeleteRecord = document.getElementById('btn-delete-record');

        btnDeleteRecord.onclick = () => {
            deleteForm.action = '/statistic/' + recordId + '?_method=delete'
            deleteForm.submit()
        }
    })
</script>