<div class="mt-4" style="color: forestgreen;">
    <h2>Thống kê</h2>
    <input type="text" class="form-control" id="searchPhoneNumber"
        placeholder="Nhập SĐT để tìm kiếm">
</div>


<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Chủ hộ</th>
            <th scope="col">SĐT</th>
            <th scope="col">Toà nhà</th>
            <th scope="col">Số nhà</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Chỉ số trước</th>
            <th scope="col">Ngày ghi nhận</th>
            <th scope="col">Chỉ số h.tại</th>
            <th scope="col">Ngày ghi nhận</th>
            <th scope="col">Tiêu thụ</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {{#each results}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.username}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.building}}</td>
            <td>{{this.code}}</td>
            <td>{{this.address}}</td>
            <td>{{this.secondValue}}</td>
            <td>{{this.secondDate}}</td>
            <td>{{this.firstValue}}</td>
            <td>{{this.firstDate}}</td>
            <td>{{this.consumption}}</td>
            <td>
                <a href="/statistic/{{this.waterMeterId}}/records" class="btn btn-info">Thông tin</a>
            </td>
        </tr>

        {{else}}
        <tr>
            <td colspan="5" class="text-center">
                Hệ thống chưa có số liệu
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var searchPhoneNumberInput = document.getElementById('searchPhoneNumber');
    searchPhoneNumberInput.addEventListener('input', function () {
        var filter = this.value.toUpperCase();
        var table = document.querySelector('.table');
        var rows = table.querySelectorAll('tbody tr');

        rows.forEach(function (row) {
            var phoneNumber = row.querySelector('td:nth-child(3)').textContent || row.querySelector('td:nth-child(3)').innerText;

            if (phoneNumber.toUpperCase().includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>