<div class="mt-4"></div>
<a href="/user" class="btn btn-primary">Quay lại</a>
<h3 class="mt-3">Thông tin chi tiết người dùng</h3>
<div class="mt-4"></div>
<table class="table mt-4 ms-4">
    <tbody>
        <tr>
            <th class="col-md-2" scope="row">ID</th>
            <td class="col-md-6">{{user._id}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Tên</th>
            <td class="col-md-6">{{user.name}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Số điện thoại</th>
            <td class="col-md-6">{{user.phoneNumber}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">Email</th>
            <td class="col-md-6">{{user.email}}</td>
        </tr>
        <tr>
            <th class="col-md-2" scope="row">ID căn hộ</th>
            <td class="col-md-6">
                {{#each homes}}
                <ul>
                    <li>Đ/c: {{this.address}} - Toà nhà: {{this.building}} - Số nhà: {{this.code}}</li>
                </ul>
                {{else}}
                <p>Người dùng này hiện chưa sở hữu căn hộ trong hệ thống</p>
                {{/each}}
            </td>
        </tr>
    </tbody>
</table>