<div class="mt-4" style="color: forestgreen;">
    <h2>Thông tin tài khoản người dùng</h2>
    <input type="text" id="searchInput" class="form-control mt-3" placeholder="Nhập SĐT để tìm kiếm">
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">STT</th>
            {{!-- <th scope="col">ID</th> --}}
            <th scope="col">Tên</th>
            <th scope="col">Điện thoại</th>
            <th scope="col">Email</th>
            {{!-- <th scope="col">Homes' ID</th> --}}
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            {{!-- <td>{{this._id}}</td> --}}
            <td>{{this.name}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td>
                <a href="/user/{{this._id}}" class="btn btn-info">Thông tin</a>
                <a href="/user/{{this._id}}/edit" class="ms-1 btn btn-warning">Sửa</a>
                <a class="ms-1 btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}"
                    data-bs-target="#delete-user-modal">Xoá</a>
            </td>
        </tr>

        {{else}}
        <tr>
            <td colspan="5" class="text-center">
                Hệ thống chưa có người dùng nào.
                <a href="/user/add">Thêm người dùng</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Confirm delete user --}}
<div id="delete-user-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá người dùng này?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ xoá người dùng và các dữ liệu liên quan đến căn hộ, đồng hồ. Bạn chắc chắn muốn xoá?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger">Xoá bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-user-form" method="POST"></form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var deleteUserModal = document.getElementById('delete-user-modal');
    deleteUserModal.addEventListener('show.bs.modal', (event) => {
        var button = event.relatedTarget
        var userId = button.getAttribute('data-id')
        var deleteForm = document.forms['delete-user-form']
        var btnDeleteUser = document.getElementById('btn-delete-user');

        btnDeleteUser.onclick = () => {
            deleteForm.action = '/user/' + userId + '?_method=delete'
            deleteForm.submit()
        }
    })

    // Thêm sự kiện lắng nghe cho ô tìm kiếm
    var searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function () {
        var filter = this.value.toUpperCase();
        var table = document.querySelector('.table');
        var rows = table.querySelectorAll('tbody tr');

        // Lặp qua các dòng và ẩn/hiện dựa trên kết quả tìm kiếm
        rows.forEach(function (row) {
            var phoneNumber = row.querySelector('td:nth-child(3)').textContent || row.querySelector('td:nth-child(3)').innerText;

            if (phoneNumber.toUpperCase().includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>